h1{
    color: white;
    text-align: center;
}

h2{
    color:rgb(238, 227, 227) ;
    text-align: center;
}

.altoimagen{
    height: 800px;
}

.altoimgcarta{
    height: 150px;
}

body{
    background-color: orangered;
}

.imglogo{
    height: 100px;
    width: auto;
}

.navcolor:hover{
    color: gray;
}

.navfondo{
    background-color: orange;
}

